.photo-detail-container{
    align-items: center;
    justify-content: center;
}

.photo-text-big{
    text-align: center;
    margin: 0px;
    color: black;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}

.photo-detail-big{
    text-align: center;
    color: rgb(56, 55, 55);
    font-weight: 10;
    font-size: medium;
    margin: 0 auto;
    width: 80%;
}

/* Mobile piccolo */
@media (max-width: 480px) {
    .photo-text-big{
        font-size: medium;
    }
    .photo-detail-big{
        font-size: small;
        width: 60%;
    }
}




