.header-container {
    position: relative;
    display: flex;
    height: 160px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFFFF00;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.header-logo-container{
  background-color: rgb(42, 81, 165);
  width: 100%;
}

.header-logo {
    width: auto;
    height: 160px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
  display: flex;
}

@media (max-width: 480px){
  .header-logo {
      height: 90px;
  }
  
  .header-container {
      height: 90px;
  }

}
