.photo-container{
  cursor: zoom-in;
  display: flex;
  height: fit-content;
  padding: 10px;
  margin-bottom: 10px;
}

.photo-image{
    width: 600px;
    height: 450px;
    border-radius: 15px;
    margin: 0;
}

.photo-image-big{
    width: 700px;
    height: 400px;
}

.photo-text-container{
    background-color: white;
    min-width: 600px;
    margin-left: -15px;
    border-radius: 0px 10px 10px 0px;
    font-family: "Mea+Culpa", cursive;
}


.photo-text{
    font-size: xx-large;
    color: black;
    width: 100%;
    margin-left: 5px;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInText 1.2s ease-out forwards;
}

.photo-text-detail{
    font-size: large;
    margin-left: 5px;
    color: rgb(83, 81, 81);
    width: 98%;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInText 1.2s ease-out forwards;
    animation-delay: 0.6s;
}

/* KEYFRAMES */
@keyframes slideInText {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 480px){
    .photo-container{
        max-width: 340px;
    }

    .photo-image{
        width: 100px;
        height: 75px;
    }

    .photo-text{
        font-size: large;
        max-width: 140px;
        font-size: medium;
    }

    .photo-text-detail{
        font-size: x-small;
        max-height: 240px;
        width: 200px;
        margin-right: 15px;
    }
    .photo-text-container{
        min-width: 260px;
        max-height: 75px;
    }
}

@media (max-height: 600px){
    .photo-image{
        width: 330px;
        height: 150px;
    }
    .photo-text-container{
        min-width: 860px;
    }

}
