.map-container{
    display: flex;
    justify-content: center;
    padding: 0;
}

.map{
    width: 50%;
    height: 400px;
    border-radius: 10px;
    border: 1px solid #CCCCCC90;
}

.main-title{
    margin: 0 auto;
    width: fit-content;
    font-size: x-large;
    margin-top: 5px;
}

.sub-title{
    width: fit-content;
    margin:0 auto;
    font-style: normal;
    font-size: small;
}


@media (max-width: 1280px){
   .map{
        width: 40%;
        height: 300px;
    }
}

@media (max-width: 400px){
    .map{
        width: 90%;
        height: 200px;
        margin: 0;
    }

}
